$tablet-breakpoint: 600px;
$desktop-breakpoint: 900px;

$primary-black: #2C2C2C;
$primary-green: #3BB95E;
$primary-white: #FFFFFF;
$primary-blue: #005AD2;
$primary-yellow: #FFD502;
$primary-orange: #E96F14;
$primary-orange: #E3000B;


$secondary-grey: #D9D8D8;
$secondary-dark-green: #008439;
$secondary-dark-black: #141414;
$secondary-darkblue: #0045B7;