@use "../../styles//partials//mixin.scss" as *;
@use "../../styles/partials//varibles.scss" as *;
  
  .header{
    &__desktop-container{
      display:none;
    }
    &__mobile-tablet-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: 0.2rem solid $primary-yellow;
    }
    &__menu-logo-wrapper{
      display: flex;
    flex-direction: row;
    }
    &__logo{
      height: 4rem;
    }
    &__icon{
      height: 2rem;
      width: 2rem;
      padding-right: 2rem;
    }
    &__icon-bag{
      padding-right: 0;
    }
    &__menu-container{
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      padding-right: 1rem;
    }
    &__menu-icon{
      height: 2rem;
      width: 4rem;
      padding-bottom: 0.2rem;
    }
    &__icon-wrapper{
      display: flex;
      align-items: center;
    }
    @include desktop{
      &__mobile-tablet-container{
      display: none;
    }
    &__desktop-container{
      display: flex;
      padding: 1rem;
      padding-left: 5%;
      padding-right: 5%;
      background-color: $primary-yellow;
      justify-content: space-between;
    }
    &__logo-desktop{
      width: 5.5rem;
      height: 5.5rem;
      margin-right: 6.5rem;
    }
    &__nav-list-desktop{
      display: flex;
      align-items: center;
      font-size: 1.6rem;
    }
    &__menu-link{
      padding-right: 5rem;
    }
    &__menu-link-dreamzz{
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      background-color: $primary-white;
      border-radius: 0.5rem;
    }
    &__styling-link-container{
      display: flex;
    }
    &__icon-wrapper-desktop{
      display: flex;
      align-items: center;
      justify-content: right;
      width: 100%;
      padding-right: 3rem;
    }
    &__icon-search{
      padding: 1rem;
      background-color: $primary-white;
      margin-right: 3rem;
      border-radius: 60%;
      border-width: 0;
    }
  }
}

