@use "../../styles//partials//mixin.scss" as *;
@use "../../styles/partials//varibles.scss" as *;
  
  .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: 0.2rem solid $primary-yellow;
    &__menu-logo-wrapper{
      display: flex;
    flex-direction: row;
    }
    &__logo{
      height: 4rem;
    }
    &__icon{
      height: 2rem;
      width: 2rem;
      padding-right: 2rem;
    }
    &__icon-bag{
      padding-right: 0;
    }
    &__menu-container{
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      padding-right: 1rem;
    }
    &__menu-icon{
      height: 2rem;
      width: 4rem;
      padding-bottom: 0.2rem;
    }
    &__icon-wrapper{
      display: flex;
      align-items: center;
    }
  }